/*I LOGGER*/
#iLogger {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 320px;
    background: white;
    z-index: 1000000;
}
.iCollapse {
	height: 40px !important;
}

#iHeader {
    background: rgb(19, 125, 181);
    height: 40px;
    width: 100%;
}
#iLogo {
    float: left;
    line-height: 40px;
    padding-left: 5px;
    font-size: large;
    font-weight: bold;
    color: #d8edff;
}
#iconToggle {
    background-color: rgba(255, 255, 255, 0.18);
    height: 100%;
    width: 40px;
    float: right;
    text-align: center;
    line-height: 40px;
}
#iconToggle img{
	vertical-align: middle;
}

#iContent {
    background: white;
	width: 100%;
    height: 160px;
	padding-left: 3px;
    overflow: auto;
}
.iLog {
	font-family: sans-serif !important;
    background: white;
    font-size: 12px;
    width: 100%;
    height: 25px;    
    line-height: 25px;
}
.iLogDate {
	color: #888888;
    padding-left: 2px;
    float: left;
    width: 145px;    
    height: 25px;
    line-height: 25px;
    border-right: 1px solid #eaeaea;
	overflow: auto;
}
.iLogContent {
    float: left;
    overflow: auto;
	width: 154px;
    height: 25px;
    line-height: 25px;
}
/*END:I LOGGER*/